# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.env.*
!.env.example

# Virtualenv
venv/
.env/

# Byte-compiled / optimized / DLL files
*.so

# VSCode
.vscode/

# Docker
*.log

# Node
node_modules/
